
.content {
    display: flex;
    justify-content: center;  /* Centre horizontalement */
    align-items: center;      /* Centre verticalement, si nécessaire */
    width: 100%;  
    padding: 30;
    margin-top: 4%;
}

app-product-grid {
    max-width: 1500px;         /* Définissez la largeur maximale souhaitée */
    width: 100%;              /* Assure que l'élément prend toute la largeur possible jusqu'à max-width */
    margin: 0 auto;           /* Centre horizontalement l'élément */
}
